@font-face {
	font-family: 'icofont';
	src:url('icofont.eot');
	src:url('icofont.eot%3F') format('embedded-opentype'),
		url('icofont.woff') format('woff'),
		url('icofont.ttf') format('truetype'),
		url('icofont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icofont';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-envelope, .icon-facebook, .icon-twitter, .icon-phone, .icon-rss, .icon-google-plus, .icon-pinterest, .icon-envelope-alt, .icon-instagram, .icon-youtube, .icon-tumblr, .icon-comment, .icon-linkedin, .icon-flickr, .icon-instagram-2, .icon-home, .icon-google-plus-2 {
	font-family: 'icofont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-envelope:before {
	content: "\f003";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-phone:before {
	content: "\f095";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-comment:before {
	content: "\f075";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-flickr:before {
	content: "\e000";
}
.icon-instagram-2:before {
	content: "\e001";
}
.icon-home:before {
	content: "\f015";
}
.icon-google-plus-2:before {
	content: "\e002";
}
