---
title: Home
---

<img src="/images/nextstation2.gif" width="300" height="206" style="float: right; margin: 10px;" />

<p>Welcome to my blog/site/thing!</p>
<p>Some general points of interest are located above</p>
<p>Some recent blog posts:</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
